.productDetailCounter {
  display: flex;
  align-items: center;
}

.productDetailCounter > button {
  background: #fc8b8b;
  border: 0;
  padding: 10px 20px;
  border-radius: 20px;
}

.productDetailCounter > span {
  margin: 0 20px;
  font-size: 30px;
}

.addToCartButton {
  background: #fc8b8b;
  margin-top: 10px;
  border: 0;
  border-radius: 10px;
  padding: 10px 20px;
}
